# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]

innodb_buffer_pool_size = 768M
innodb_log_file_size = 64M
innodb_flush_method = O_DIRECT
sync_binlog = 0
log_bin = on
innodb_buffer_pool_instances = 10
innodb_thread_concurrency = 4
innodb_read_io_threads = 8
innodb_write_io_threads = 8

max_connections = 1000
table_open_cache = 4096
table_open_cache_instances = 16

sort_buffer_size = 4M
key_buffer_size = 64M
max_join_size = 18446744073709551615 

slow_query_log = on
long_query_time = 1
max_allowed_packet = 32M
net_read_timeout = 3
net_write_timeout = 3

skip_name_resolve = on

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

